<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                {% for weather in weather_data %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ weather.city }}</span>
                                    <br>
                                    <span class="subtitle">{{ weather.temperature }}° C</span>
                                    <br>
                                    {{ weather.description }}
                                    <br>
                                    <button class="button is-primary float-end" onclick="j_test([{'city': 'Gwangju', 'temperature': 15.4, 'description': 'Broken clouds', 'icon': '04n'}][0])">오늘의 추천 메뉴</button>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<footer class="footer">
</footer>

<script>
function j_test(weather) {
    let temperature = weather.temperature;
    let postIds = [];

    if (temperature <= 0) {
        postIds = ['찌개'];
    } else if (0 < temperature && temperature <= 10) {
        postIds = [863, 802, 1089, 886, 1067, 384, 308];
    } else if (10 < temperature && temperature <= 20) {
        postIds = [701, 678, 579, 1022, 488, 605, 703, 1021];
    } else if (20 < temperature && temperature <= 30) {
        postIds = [1049, 1048, 1028, 1022, 469, 1021, 605, 573];
    } else {
        postIds = [233, 469, 245, 13, 446, 447, 605, 1049, 1048];
    }

    redirectToRandomPost(postIds);
}

function redirectToRandomPost(postIds) {
    const randomIndex = Math.floor(Math.random() * postIds.length);
    const postId = postIds[randomIndex];


    if (typeof postId === 'string') {
        window.location.href = `http://127.0.0.1:8000/search/${postId}/`;
    } else {
        window.location.href = `http://127.0.0.1:8000/blog/${postId}`;
    }
}


</script>

</body>
</html>